<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sprints"
        tools:targetApi="31">
        <activity
            android:name=".leftMenu"
            android:exported="false" />
        <activity
            android:name=".testBk"
            android:exported="false"
            android:label="@string/title_activity_test_bk"
            android:theme="@style/Theme.Sprints.NoActionBar" />
        <activity
            android:name=".mall"
            android:exported="false" />
        <activity
            android:name=".Profail"
            android:exported="false" />
        <activity
            android:name=".politika"
            android:exported="false" />
        <activity
            android:name=".MainTrashHole"
            android:exported="false" />
        <activity
            android:name=".CreateNewPassword"
            android:exported="false" />
        <activity
            android:name=".galary_kros"
            android:exported="false" />
        <activity
            android:name=".trashHole"
            android:exported="false" />
        <activity
            android:name=".favorite"
            android:exported="false" />
        <activity
            android:name=".supce_place"
            android:exported="false" />
        <activity
            android:name=".filters"
            android:exported="false" />
        <activity
            android:name=".mainScrean"
            android:exported="false" />
        <activity
            android:name=".PasswordRestart"
            android:exported="false" />
        <activity
            android:name=".createUserSprint"
            android:exported="false" />
        <activity
            android:name=".second_sprint"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>